// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

#header {
  height: 550px;
  min-height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-worldwildlife {

  justify-content: flex-end;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 550px;
    min-height: 450px;
    background-image: url("images/background/RSwwfau_13397_web.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-size:100%;
  }

}

/*.header-worldwildlifespecies {
  justify-content: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 550px;
    min-height: 450px;
    background-image: url("images/background/Species-Index-Turtle.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-size:100%;
  }
}*/

.header-worldwildlifespecies {
  justify-content: center;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 550px;
    min-height: 450px;
    background-image: url("images/background/Species-Index-Turtle.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    // background-size:100%;
  }
}

@media (max-width: 1000px) {
  #header {
    height: 50vw;
  }

  .header-worldwildlife, .header-worldwildlifespecies {

    &:before {
      height: 50vw;
    }

  }
}

#navbar-container {
  // background: url("images/background/bg-header-pattern-2d1f5ee4abb035203b0bd1cb7326ea039863ae7c3190ee41e43f4d8d9fcbf953.png") repeat;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-container-background {
  background: url("images/background/bg-header-pattern-2d1f5ee4abb035203b0bd1cb7326ea039863ae7c3190ee41e43f4d8d9fcbf953.png") repeat;

}


#desktop-navbar {
  padding: 20px 10px 12px;
}

#mobile-navbar {
  display: none;
}

.navbar-brand {
  img {
    position: absolute;
    top: 0;
  }
}

#navbar-container {
  .navbar-collapse {
    justify-content: flex-end;
  }

  a {
    padding: 10px;
  }

  li {
    padding: 0 10px;
  }

  .mobile-nav-button {
    .nav-button-right, .nav-button-left {
      padding: 0px;
    }
  }


  .sub-menu, .dark-sub-menu, {
    a {
      padding: 5px 5px;
      line-height: 21px;

    }

    padding: 0 15px;
  }
}


#navbar-subcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    padding: 5px 15px;

  }

  li {
    // padding: 0 5px;
  }
}

#search-form {
  position: relative;

  input {
    width: 130px;
    height: 30px;
    border-radius: 3px;
  }

  input::placeholder {
    font-style: italic;
    font-size: 13px;
  }

  button {
    position: absolute;
    right: 10px;
    border: none;
    background: white;

    svg {
      width: 15px;
    }
  }
}

.nav-push-left > li {
  > a {
    @include fonts(24px, normal, white);
    font-family: 'WfWebfont';
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.25s;

  }

  /*  &:hover {
      > a {
        background: white;
        color: $blue-menu;
      }

      .sub-menu {
        display: flex;
      }
    }*/
}

.nav-push-right > li {

  /* @extend %flex-center;*/
  > a {
    @include fonts(17px, bold, $light-grey-menu);
    text-transform: uppercase;
    font-family: 'WfWebfont';
    letter-spacing: 2px;
    transition-duration: 0.25s;
    margin-top: 5px;
  }



  /* &:hover {
     > a {
       background: $dark-gray-menu;
       color: white;
     }

     .dark-sub-menu {
       display: flex;
     }
   }*/
}

.sub-menu {
  position: absolute;
  display: flex;
  opacity: 0;
  background: white;
  width: 500px;


  a {
    @include fonts(13px, normal, $gray-links);
    display: none;
  }

  .left-sub-menu {
    flex: 100%/3*2;
  }

  .right-sub-menu {
    flex: 100%/3*1;
    margin: 4px;

    a {
      color: $blue-links;
      border-bottom: 1px dotted $gray-dotted;

      &:hover {
        background: $blue-menu;
        color: white;
        transition-duration: 0.4s;
      }
    }
  }

  .top-sub-menu {
    display: flex;
    margin: 4px;

    .top-left-sub-menu, .top-right-sub-menu {
      flex: 50%;
    }

    a {
      &:hover span {
        border-bottom: 1px dotted $gray-dotted;
        color: $blue-links;
        // transition-duration: 0.4s;
      }
    }
  }

  .bottom-link-menu a {
    text-transform: uppercase;
    color: $blue-links;
  }
}

.dark-sub-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 210px;
 // top: 40px;
  //left: 0;
  // display: none;
  //height: 0px;
  opacity: 0;


  background: $dark-gray-menu;

  a {
    display: none;
    @include fonts(13px, normal, $light-grey-menu);

    &:hover span {
      border-bottom: 1px dotted $light-grey-menu;
      color: white;
      transition-duration: 0.25s;
    }
  }
}

#nav-button, .down-nav-button {

  a.nav-link {
    border-radius: 2px;
    @include fonts(13px, 800, white);
    padding: 10px 20px;
    text-transform: uppercase;
    line-height: 21px;

  }

  .nav-button-left > a.nav-link {
    background: $dark-orange;
    color: white;
    // line-height: 35px;
  }

  .nav-button-right > a.nav-link {
    background: $light-orange;
    // line-height: 35px;
  }

}

#nav-button {
  .nav-link {
    padding: 0 15px;
  }

  .dark-sub-menu {
    // display: none;


    a.nav-item.nav-link {
      background: $dark-gray-menu;
      @include fonts(13px, normal, $light-grey-menu);
      text-transform: none;
      padding: 5px 0;

    }

  }

  .nav-button-right {
    position: relative;

    .dark-sub-menu {
      right: 10px;

    }
  }
}

@media (min-width: 1000px) {

  #nav-button > li {

    &:hover {
      > a.nav-link {
        background: $dark-gray-menu;
        transition-duration: 0.25s;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .dark-sub-menu {
        display: flex;

        opacity: 1;
        transition: opacity 0.25s;

        a {
          display: block;
        }
      }

    }
  }

  .nav-push-right > li, .nav-push-right > li.nav-arctic {

    &:hover {
      > a {
        background: $dark-gray-menu;
        color: white;
        transition-duration: 0.25s;
      }

      .dark-sub-menu {
        display: flex;
        opacity: 1;
        transition: opacity 0.25s;

        a {
          display: block;
        }
      }
    }
  }

  .nav-push-left > li, .nav-push-left > li.nav-arctic {

    &:hover {
      > a {
        background: white;
        color: $blue-menu;
        transition-duration: 0.25s;
      }

      .sub-menu {
        display: flex;
        opacity: 1;
        transition: opacity 0.25s;

        a {
          display: flex;
        }
      }
    }
  }

}

.mobile-menu {
  //display: none;
  height: 0px;
  opacity: 0;
  transition: height 0.25s, opacity 0.3s linear 0.20s;


  .navbar-nav, #mobile-search-form {
    display: none;

  }

}

.open-menu {
  height: 300px;
  opacity: 1;
  transition: height 0.25s, opacity 0.3s linear 0.20s;
  //display: block;
  /*position: absolute;
  z-index: 1;*/
  .navbar-nav, #mobile-search-form {
    display: flex;

  }

}

.mobile-nav-button {
  display: none;
}

@media (max-width: 768px) {

  /*  .mobile-nav-button{
      display: block;
    }*/

  #mobile-navbar {

    display: block;
    background: url("images/background/bg-header-pattern-2d1f5ee4abb035203b0bd1cb7326ea039863ae7c3190ee41e43f4d8d9fcbf953.png") repeat;
    // width: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    .nav-top-mobile {
      background: white;
      padding: 10px;
    }

    .navbar-brand {
      img {
        position: static;
      }

      background: white;
    }

    .nav-push-mobile {
      display: flex;


      .navbar-nav {
        flex: 50%;
        justify-content: flex-start;
        align-items: center;

        li {
          width: 100%;


          a {
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include fonts(13px, 800, white);
            text-transform: uppercase;
            line-height: 21px;
          }

          &:hover span {
            border-bottom: 1px solid white;
          }

        }
      }

    }

    #mobile-search-form {
      padding: 20px;
      position: relative;

      input {
        width: 100%;
      }

      input::placeholder {
        font-style: italic;
        font-size: 13px;
      }

      button {
        position: absolute;
        right: 30px;
        border: none;
        background: #312626;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        svg {
          width: 15px;
          color: white;

        }
      }
    }

  }


  #desktop-navbar {
    display: none;
  }

  .mobile-nav-button {

    display: block;

    .down-nav-button {

      // display: flex;
      flex-direction: row;

      .nav-button-right, .nav-button-left {
        //  padding: 0px;
        flex: 50%;
      }


      a.nav-link {
        border-radius: 0;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 21px;

        &:hover span {
          margin: 0;
          padding: 0;
          border-bottom: 1px solid white;
        }
      }
    }

  }

}

.mobile-sub-container {
  display: flex;

}

.navbar-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1100px) {
  #navbar-subcontainer {

    .mobile-sub-container {
      flex-direction: column;

      form {
        order: 2;
        padding: 10px 0;

        input {
          width: 100%;
        }
      }

      #nav-button {
        display: flex;
        justify-content: space-between;

        .nav-button-left, .nav-button-right {
          padding-right: 10px;
          padding-left: 0px;

          a.nav-link {
            padding: 5px 20px;
          }
        }
      }
    }
  }

  .navbar-container {
    flex-direction: column;
  }

}

.hidden-nav-button {
  position: absolute;
  // z-index: -1;
  width: 100%;
  top: 106px;
}

.header-content {
  //height: 100%;
  // position: relative;
  //z-index: -1;

  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  //letter-spacing: 2px;
  padding: 30px 15px;


  .hdr h2 {
    @include fonts(52px, bold, white);
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .hdr h1 {
    @include fonts(52px, bold, black);
    padding-bottom: 10px;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-top: 200px;
  }

  .hdr-sub h3 {
    font-size: 18px;
    padding-bottom: 2px;
  }

  .hdr-sub p {
    @include fonts(18px, bold, black);
    text-align: center;
  }
}

@media (max-width: 640px) {
  .header-content {

    .hdr h2, .hdr h1 {
      font-size: 32px;
    }

  }
}

@media (max-width: 815px) {
  .header-content {

    .hdr h1 {
      font-size: 32px;
    }

  }
}

@media (max-width: 640px) {
  .header-content {
    .hdr h1, .hdr-sub p {
      display: none;
    }
  }
}