.container-nav-progress-bar {
  width: 100%;
  height: 5px;
  background: #ccc;
  position: absolute;

  .progress-bar {
    height: 5px;
    background: #d77640;
    width: 0%;
  }

}

.sticky-menu-acrtic {
  background: black;

  .active {
    color: white;
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    @include fonts(15px, 400, #808080);
    line-height: 50px;
    padding: 5px 10px;
  }

  .nav-title {
    @include fonts(15px, 700, white);
    line-height: 50px;
    padding: 5px 10px;
    background: $main-text-color;
    //flex: 20%;
  }

  @media (max-width: 900px) {

    .nav-title {
      display: none;
    }

  }

  .nav-links {
    // width: 90%;
    position: relative;
    flex: 50%;


    ul.nav.nav-active {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      flex-wrap: nowrap;
    }

    a {
      transition: 0.25s;

      &:hover {
        color: white;
        transition: 0.25s;
      }
    }

  }

  .nav-button {
    margin-left: 10px;

    a {
      background: $dark-orange;
      @include fonts(15px, bold, white);
      text-transform: uppercase;
      line-height: 40px;
      padding: 0 15px;
      border-radius: 2px;

      &:hover {
        text-decoration: underline;
      }
    }

  }

  @media (max-width: 840px) {
    a, .nav-button a {
      font-size: 13px;
    }

    a {
      line-height: 25px;
    }
  }
}

.arctic-section-header {
  text-align: center;
  margin-bottom: 50px;

  .hdr {
    position: relative;

    .bg-facts {
      background: url("images/background/bg-patterned-checked-51cb0afb5e9111aef8529ce1f6d871eb1694b6db4c2630db50bd0a5a7c4c357b.jpg") repeat;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -2px;
      z-index: 1;
      border: 1px solid #e2dfd7;
    }

    span {
      font-family: 'WfWebfont';
      @include fonts(48px, 400, $main-text-color);
      text-transform: uppercase;
      padding: 0 18px;
      position: relative;
      z-index: 2;
      text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.07);

    }
  }

}

.arctic-facts-section {
  background: url("images/background/bg-patterned-checked-51cb0afb5e9111aef8529ce1f6d871eb1694b6db4c2630db50bd0a5a7c4c357b.jpg") repeat;
  padding: 70px 0;

  .wrapper-facts {
    background: white;
    padding: 4% 2% 6%;
    position: relative;
    z-index: 1;

    &:before {
      border: 10px solid #fff;
      bottom: -14px;
      -moz-box-shadow: 0 0 25px rgba(109, 85, 66, 0.1);
      -webkit-box-shadow: 0 0 25px rgba(109, 85, 66, 0.1);
      box-shadow: 0 0 25px rgba(109, 85, 66, 0.1);
      content: "";
      left: -14px;
      position: absolute;
      top: -14px;
      right: -14px;
      z-index: -1;
    }

    p {
      @include fonts(15px, normal, $main-text-color);
      margin-bottom: 1.25em;
      // word-wrap: break-word;

    }

    .facts-img {
      float: right;
      padding: 2% 3%;

      .earth-img, .elephant-img {
        display: flex;
        padding: 8px 0;

        img {
          width: 42px;
          height: 42px;
        }

        .hdr {

          padding-left: 5px;

          p {
            @include fonts(12px, 400, #777);
            line-height: 19px;

            margin: 0;
          }

          p:nth-child(1) {
            text-transform: uppercase;
            @include fonts(11px, bold, #777);
          }
        }
      }

    }
  }

  .share-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1% 0;
    margin-bottom: 2%;
    @include fonts(11px, 500, white);


    .twitter, .facebook {
      margin: 0 10px;
      // position: relative;
      height: 20px;
      box-sizing: border-box;
      padding: 1px 8px 1px 6px;
      background-color: #1b95e0;
      color: #fff;
      border-radius: 3px;
      font-weight: 500;
      cursor: pointer;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    .facebook {
      background-color: #1877f2;
    }

    .mail {
      svg {
        color: #006ea5;
        width: 24px;
        // height: 24px;
      }
    }

  }

  .lead {
    display: flex;
    flex-direction: column;

    span:nth-child(1) {
      @include fonts(12px, bold, $main-text-color);
    }

  }

  span:nth-child(2) {
    a{
      @include fonts(15px, normal, $blue-links);
    }

  }

  .btn-push-left {
    left: -37px;
    position: relative;

    .btn-simple {
      padding-top: 2%;

      a {
        background: black;
        @include fonts(12px, bold, white);
        font-style: italic;
        padding: 11px 15px 11px 15px;
        text-transform: uppercase;
        transition: 0.25s ease-in-out;
        line-height: 28px;
        text-decoration: none;
        letter-spacing: 0.1px;

        &:hover {
          color: $blue-links;
        }

      }
    }
  }

}